<h1>Puppy</h1>

<ul><p><li><h2><%= @puppy.name %></h2></li></p>
<p>
  <li><h3><%= @puppy.age %></h3></li>
</p>
<p>
  <li><h3><%= @puppy.breed %></h3></li>
</p>
</ul>


<a href="/puppies">Back to puppies!</a>